* {
    /*font-family: VictorMono, Iosevka Nerd Font, Noto Sans CJK;*/
    font-family: MononokiNerdFontPropo;
    font-size: 18px;
    font-style: normal;
    min-height: 0;
}

window#waybar {
    background: rgba(30, 30, 46, 0.5);
    color: white;
    /* background: transparent;  */
}

#cpu, #memory, #disk, #clock, #custom-power, #workspaces, #custom-date, #battery, #pipewire, #backlight, #network, #custom-randwall, #custom-launcher {
	background: transparent;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
}

#clock {
  background-color: #81a1c1;
}

#battery {
  background-color: rgb(51, 195, 75);
}

#battery.warning {
background-color: #db5a53;
}

#battery.critical {
  background-color: red;
}

#wireplumber {
  background-color: #696ebf;
}


/* "modules-left": ["hyprland/workspaces", "custom/playerctl", "custom/playerlabel"],
    "modules-center": ["cpu", "memory", "disk"],
    "modules-right": ["tray","group/temp","wireplumber","battery","clock","custom/power"], */
